<?xml version="1.0" encoding="utf-8"?><!--
 Copyright 2014 The Android Open Source Project
//Jisus
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.helloworld.auditivo">

    <!--
        <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />
    -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.percmission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- - para usar la camara desde la App -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- escribir en memoria para guardar las fotos -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_hw"
        android:label="HW Auditivo"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >
        <activity
            android:name=".Menu_principall"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="ocr"

                />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Videos" />
        <activity android:name=".Opciones" />
        <activity android:name=".Formulario_Datos_Usuario" />
        <activity android:name=".Transicion_Dinosaurio" />
        <activity android:name=".Inicio_Comunicativo" />
        <activity android:name=".EnviarImagen" />
        <activity android:name=".Resultados_Duolingo" />
        <activity android:name=".Duolingo" />
        <activity android:name=".Menu_Quiz" />
        <activity android:name=".Ventana_Cursos_Ejer_Selec_Txt" />
        <activity android:name=".Ventana_Cursos_Ejer_Selec_Sena" />
        <activity android:name=".Lector_Traductor"/>
        <activity android:name=".Teclado_senas_voz"/>

        <service
            android:name=".FloatingViewService"
            android:enabled="true"
            android:exported="false"/>

        <activity android:name=".FloatingViewService2" />
        <activity android:name="org.helloworld.tensorflowdemo.AM_Palabras_Rapidas" />
        <activity android:name=".Introduccion.Bienvenida" />
        <activity android:name=".Introduccion.Tutorial_primer_uso" />
        <activity android:name=".Traductor" />

        <activity
            android:name=".Carga_Inicio"
            android:label="@string/title_activity_menu_principal"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest> <!-- MaterialTheme -->
